* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    color: #eeede8;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Sofia Sans', sans-serif;
}

a:hover {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid black;
    transition: all 1s;
}

body {
    background: linear-gradient(to bottom right, white, #726c40 60%);
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
    border-radius: 25px;
}

main {
    max-width: 1030px;
}

.heart {
    background-image: url(../img/без\ фона.png);
    background-size: 40%;
    background-attachment: inherit;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 25px;
}

.header {
    width: inherit;
    height: 50px;
    margin-bottom: 50px;
}

.header__inner {
    background: linear-gradient(to bottom right, white 20%, #726c40 60%);
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo a {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #726c40;
}

.header__logo a span {
    color: black;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.header__menu {
    font-family: 'Sofia Sans', sans-serif;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}

.header__drop-down {
    position: relative;
    display: inline-block;
} 

.header__drop-down:hover .drop-down__list {
    display: block;
} 

.drop-down__list {
    display: none; 
    position: absolute;
    width: 200px;
    top: 20px;
    left: -16px;
    background: #726c40;
    box-shadow: 0px 5px 0px 0px black;
    margin: 0px;
    padding: 5px;
    border-radius: 25px;
}

.drop-down__list a {
    padding: 12px 0 12px 11px;
    display: list-item;
    list-style: none;
}

.drop-down__list li + li a {
    border-top: 1px solid #000;
} 

li {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

li:last-child {
    margin-right: 0px;
}

h1 {
    color: #413c0d;
    font-size: 40px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 1000;
    margin: 50px 0 0;
}

h2 {
    color: #413c0d;
    font-size: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin: 30px 0;
}

h2 span {
    color: #5e5614;
    font-size: 50px;
}

h3 {
    color: #413c0d;
    text-align: center;
}

.heart_text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;
}

.info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    color: #413c0d;
    font-size: 25px;
    border-radius: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin: 0;
    padding: 10px;
}

.info_blok {
    margin: 0;
}

.ok {
    width: 50px;
}

button {
    width: 250px;
    height: 70px;
    background: #726c40;
    color: #eeede8;
    border-radius: 25px;
    font-size: 20px;
    margin-right: 15px;
}

.my_contacts_phone {
    position: relative;
}

#message {
    position: absolute;
    bottom: -40px;
    left: -40px;
    background-color:#726c40;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #eeede8;
    border: 1px solid black;
}

#phone {
    width: 64px;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.contacts {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-ends;
    justify-content:space-between;
}

.my_contacts_inst {
    padding: 5px;
}

.my_contacts__logo {
    padding: 0 15px 0 0;

}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25%;
}

.article {
    background: linear-gradient(to bottom right, white, #726c40);
    color: #413c0d;
    border-radius: 25%;
    font-size: 20px;
    width: 400px;
    padding: 15px;
    line-height: 30px;
    text-align: justify;
    margin: 15px;
    margin-bottom: 50px;
}

.article__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 10px;
    font-family: 'Playfair Display', serif;
    align-items: center;
}

.article__img {
    border-radius: 100%;
    margin-right: 35px;
    width: 105px;
    height: 120px;
}

.article__text {
    padding: 10px;

}

.map_title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: #413c0d;
}

footer {
    background: linear-gradient(to bottom right, white 20%, #726c40 60%);
}

@media screen and (max-width: 1200px) {
    .info {
        font-size: 25px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    .header__logo a {
        font-size: 25px;
    }
    .header__logo a span {
        font-size: 35px;
    }
    h2 span {
        font-size: 50px;
    }
}

@media screen and (max-width: 998px) {
     .info {
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    .header__logo a {
        font-size: 20px;
    }
    .header__logo a span {
        font-size: 30px;
    }
    .header__drop-down a {
        font-size: 16px;
    }
    h2 span {
        font-size: 45px;
    }
}

@media screen and (max-width: 768px) {
    .info {
        font-size: 15px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .header__logo a {
        font-size: 15px;
    }
    .header__logo a span {
        font-size: 25px;
    }
    .header__drop-down a {
        font-size: 14px;
    }
    h2 span {
        font-size: 40px;
    }
}

@media screen and (max-width: 576px) {
    .info {
        font-size: 10px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 15px;
    }
    .header__logo a {
        font-size: 10px;
    }
    .header__logo a span {
        font-size: 20px;
    }
    .header__drop-down a {
        font-size: 12px;
    }
    .header__logo {
        flex-direction: column;
    }
    h2 span {
        font-size: 35px;
    }
    
}


@media screen and (max-width: 390px) {
    .info {
        font-size: 5px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 10px;
    }
    .header__logo a {
        font-size: 5px;
    }
    .header__logo a span {
        font-size: 15px;
    }
    .header__drop-down a {
        font-size: 10px;
    }
    .header__logo {
        flex-direction: column;
    }
    h2 span {
        font-size: 25px;
    }
}